**/.DS_Store
**/node_modules
**/coverage
**/specs
**/scripts
**/docs
**/.dockerignore
**/.eslintrc.js
**/.gitignore
**/.travis.yml
**/codecov.yml
**/Dockerfile
**/*.md
**/.eslintrc.js
**/.dockerignore
**/.gitignore
**/.travis.yml
**/babel.config.json
**/codecov.yml
**/README.md
