# git-checks = true
# hoist = false
engine-strict = true
link-workspace-packages = true
shared-workspace-lockfile = true
use-beta-cli = true
publish-branch = main

# local Verdaccio
# registry=http://localhost:4873
# @dmitry-n-medvedev:registry=http://localhost:4873
